body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.profile {
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.profile-name {
  margin: 0;
  color: #333;
}

.profile-bio {
  color: #666;
}

.social-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.social-icon {
  display: inline-block;
  margin: 10px;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.social-icon:hover {
  opacity: 1;
}

.social-icon-image {
  width: 30px;
  height: 30px;
}
