@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(32, 32, 177); /* Mavi tonu */
    color: #fff;
    background-image:
        radial-gradient(at 40% 20%, hsla(240, 100%, 74%, 1) 0px, transparent 50%),
        radial-gradient(at 80% 0%, hsla(270, 100%, 56%, 1) 0px, transparent 50%),
        radial-gradient(at 0% 50%, rgb(203, 203, 203) 0px, transparent 50%),
        radial-gradient(at 80% 50%, hsla(240, 100%, 86%, 1) 0px, transparent 50%),
        radial-gradient(at 0% 100%, rgb(255, 113, 253) 0px, transparent 50%),
        radial-gradient(at 80% 100%, rgb(255, 180, 255) 0px, transparent 50%),
        radial-gradient(at 0% 0%, rgb(174, 94, 255) 0px, transparent 50%);
    animation: gradientAnimation 2s linear forwards;
}

@keyframes gradientAnimation {
    to {
        background-position:
        400px 90px,
        100px 400px,
        400px 60px,
        20px 10px,
        400px 100px,
        140px 500px,
        200px 800px;
    }
}

.container{
    background: rgba(255, 255, 255, 0.24);
    border-radius: 10px;
    padding: 20px 30px;
    border: 2px solid #fff;
    text-align: center;
    min-width: 400px;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.container i{
    font-size: 100px;
    margin-bottom: 10px;
}

h1{
    font-size: 28px;
    margin-bottom: 20px;
    color: #fff;
}

label{
    text-align: left;
    font-size: 15px;
    font-weight: 500;
    margin: 10px 0;
    display: block;
}

input, textarea{
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 2px solid #fff;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
    background-color: transparent;
    font-weight: 500;
}

input::placeholder{
    color: #fff;
}

.buttons{
    display: flex;
    gap: 10px;
}

button{
    width: 100%;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 8px;
    font-weight: 500;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover{
    background-color: #9b5bef;
    color: #fff;
}

textarea{
    resize: none;
}