body {
margin: 0;
font-family: Arial, sans-serif;
}

input {
    margin-block-start: 1em;
    margin-block-end: 1em;
}

#app {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

.container {
width: 70%;
display: flex;
justify-content: space-between;
}

.form-container {
width: 45%;
}

.form-row {
display: flex;
flex-direction: column;
margin-bottom: 10px;
}

.output-container {
width: 45%;
padding-left: 20px;
}